body {
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  color: #3d4c99;
}

#book-list {
  max-width: 600px;
  margin: 0 auto;
}

div {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="text"] {
  width: 35%;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
}

button {
  background-color: #007BFF;
  color: #fff;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.button-edit {
  background-color: #e3e556;
  color: #232121;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.button-delete {
  background-color: #ec3737;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}
